name: Deploy

on:
  push:
    branches:
      - master  # Make sure this is the correct branch name

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest  # Always use the latest stable version

      - name: Create .env file
        run: |
          echo "VITE_API_TOKEN=${{ secrets.VITE_API_TOKEN }}" >> .env
          echo "NODE_ENV=production" >> .env
        shell: bash

      - name: Debug .env file
        run: cat .env
        shell: bash

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project
        run: bun run --env-file=.env build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./dist

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'  # Ensure this matches your branch

    environment:
      name: production

    env:
      VITE_API_TOKEN: ${{ secrets.VITE_API_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages  # Ensure GitHub Pages is set to deploy from this branch
